:root {
    --hover-color: #2196F3;
    --header-text-color: #212121;
    --simple-text-color: #757575;
    --logo-top-color: #000;
    --button-filter-color: #F5F4FA;
    --background-color: #FFFFFF;
    --background-footer-color: #2F303A;
    --border-project-color: #EEEEEE;
    --contacts-bottom-color: rgba(255, 255, 255, 0.6);
}

body {
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

p,
h1,
h2,
h3 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list {
    display: flex;
    align-items: center;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* top */
.topline {
    border-bottom: 1px solid #ECECEC;
}

.topper {
    display: flex;
    align-items: center;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--hover-color);
    text-decoration: none;
}

.logo-top {
    color: var(--logo-top-color);
}

.logo-bottom {
    color: var(--background-color);
}

.navigation {
    align-items: center;
    display: flex;
}

.nav-list {
    margin-left: 93px;
    display: flex;
}

.top-li {
    margin-right: 50px;
    align-items: center;
    color: currentColor;
}


.top-li-contacts {
    margin-right: 30px;
    align-items: center;
}

.top-li:last-child {
    margin-right: 0;
}

.nav-link::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--hover-color);
    border-radius: 2px;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--header-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:hover:after,
.nav-link:focus,
.nav-link:focus:after,
.nav-link.current,
.nav-link.current:after {
    color: var(--hover-color);
    opacity: 1;
}

.contacts-top {
    margin-left: auto;
    display: flex;
    align-items: center;
}


.contacts-top-link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--simple-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.contacts-top-link:hover,
.contacts-top-link:focus {
    color: var(--hover-color);
}

.contacts-top-link-icon {
    display: flex;
    align-items: center;
    margin-right: 10px;
    fill: currentColor;
}

/* portfolio styles */
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}



.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -lpx;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.filter {
    display: flex;
    justify-content: center;
}

.filter-box:not(:last-child) {
    margin-right: 8px;
}

.filter-button {
    padding-left: 22px;
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    background-color: var(--button-filter-color);
    border-radius: 4px;
    border-style: hidden;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-text-color);
    white-space: nowrap;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus,
.filter-button.primary {
    border-color: var(--hover-color);
    color: var(--background-color);
    background-color: var(--hover-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.project {
    padding-top: 20px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border-project-color);
    border-left: 1px solid var(--border-project-color);
    border-right: 1px solid var(--border-project-color);
}

.project-link {
    display: block;
    text-decoration: none;
}

.project-link:hover,
.project-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-margin:not(:nth-child(3n)) {
    margin-right: 30px;
}

.project-margin:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
}

.project-pictures {
    position: relative;
    overflow: hidden;
}

.project-overlay {
    position: absolute;
    left: 0;
    bottom: -100%;
    width: 100%;
    height: 100%;
    padding: 24px;
    display: flex;
    align-items: center;
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover .project-overlay,
.project-link:focus .project-overlay {
    transform: translateY(-100%);
}

.project-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.project-heder {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    color: var(--header-text-color);
}

.project-text {
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
    color: var(--simple-text-color);
}


/* footer */
.footer-styles {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--background-footer-color);
}

.footer-item {
    display: flex;
    align-items: baseline;
}

.contacts-bottom-box {
    display: block;
}

.address {
    margin-top: 20px;
}


.address-link {
    font-style: normal;
    font-size: 14px;
    line-height: calc(24 / 14);
    text-decoration: none;
    color: var(--background-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    color: var(--hover-color);
}

.contacts-bottom {
    margin-bottom: 9px;
}

.contacts-bottom-link {
    font-style: normal;
    font-size: 14px;
    line-height: calc(24 /14);
    text-decoration: none;
    color: var(--contacts-bottom-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-bottom-link:hover,
.contacts-bottom-link:focus {
    color: var(--hover-color);
}

.social {
    margin-left: 70px;
}

.social-heder {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--background-color);
}

.social-ul {
    gap: 10px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-link-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border-style: hidden;
    cursor: pointer;
    color: var(--background-color);
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-bottom:hover,
.social-link-bottom:focus {
    background-color: var(--hover-color);
    color: var(--background-color);
}

.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: currentColor;
}

/* index styles */
.order {
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bgimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #C4C4C4;
}


.header {
    max-width: 700px;
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--background-color);
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0;

}

.order-button {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    border-style: hidden;
    color: var(--background-color);
    background-color: var(--hover-color);
    border-radius: 4px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 32px;
    padding-top: 10px;
    padding-right: 32px;
    padding-bottom: 10px;
    align-items: center;
    display: block;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0) rotate(180deg);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0);
    min-width: 528px;
    min-height: 581px;
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

}

.modal-close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.close-icon {
    fill: currentColor;
}

.modal-close:hover,
.modal-close:focus {
    border-color: #188CE8;
    color: #188CE8;
}

.no-scroll {
    overflow: hidden;
}

.feature {
    max-width: 270px;

}

.feature-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin-bottom: 30px;
    background: #F5F4FA;
    border-style: hidden;
    border-radius: 4px;
}

.feature-padding {
    padding-bottom: 0;
}

.feature-header {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--header-text-color);
}

.feature-text {
    margin-top: 10px;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--simple-text-color);
}

.about-header {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-text-color);
}

.about-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-margin:not(:last-child) {
    margin-right: 30px;
}

.box-label {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 370px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: rgba(47, 48, 58, 0.8);
}

.team-background {
    background: var(--button-filter-color);
}

.team {
    margin-top: 50px;
}

.team-header {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-text-color);
}

.team-card {
    background: var(--background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.member {
    padding-top: 30px;
    padding-bottom: 30px;
}

.member-name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 /16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-text-color);
}

.member-profession {
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--simple-text-color);
}

.member-social {
    margin-top: 16px;
    gap: 10px;
    display: flex;
    justify-content: center;
}

.member-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border-style: hidden;
    cursor: pointer;
    color: #AFB1B8;
    background-color: var(--background-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.member-social-link:hover,
.member-social-link:focus {
    color: var(--background-color);
    background-color: var(--hover-color);
}

.member-social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: currentColor;
}

.client-heder {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-text-color);
}

.client-ul {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.client-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    padding: 0;
    cursor: pointer;
    color: #AFB1B8;
    background-color: var(--background-color);
    border: 1px solid;
    border-color: #AFB1B8;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
    color: var(--hover-color);
    border-color: var(--hover-color);
}

.client-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: currentColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.client-link:hover .client-icon,
.client-link:focus .client-icon {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
